<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <meta charset="UTF-8">
</head>
<body>

<center>
    <h1>Employee List</h1>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="emp : ${employees}">
                <td th:text="${emp.id}">ID</td>
                <td th:text="${emp.name}">Name</td>
                <td th:text="${emp.city}">City</td>
            </tr>
        </tbody>
    </table>
</center>

</body>
</html>